<%- include('includes/start.ejs') %>
    <header>
        <%- include('includes/nav.ejs') %>
    </header>

    <main>
        <div class="d-flex p-5">
            <form action="/admin/addproduct" method="POST" class="col-lg-6 offset-lg-3 ">
                <div class="d-flex justify-content-center">
                <input   type="text" name="title" placeholder="Title"><br><br>
                <input   type="text" name="imageUrl"  placeholder="Image Url" ><br><br>
                <input   type="text" name="price"  placeholder="Price" ><br><br>
                <input   type="text" name="description"  placeholder="Write Description" ><br><br>
                
                <br><br>
                <button class="btn btn-primary" type="submit">Add Product</button>
            
                </div>
                </form>
        </div>
        
    </main>
<%- include('includes/end.ejs') %>